<section id="contactinfo">
  <div class="contact">

    <!-- <div class="container-fluid"> -->

    <!-- Title -->
    <!-- <div class="row"> -->
    <!-- <div class="col-md-6 left"> -->
    <img class="bot-logo" src="img/CIT Logo square compact white.png" alt="calvin-institute-of-technology">
    <!-- </div> -->
    <!-- <div class="col-md-6 right"> -->
    <a class="footer-link fab fa-linkedin fa-3x" href="https://www.linkedin.com/in/johan-saputro-004/" target="_blank"></a>
    <!-- <a class="footer-link" href="https://twitter.com/">Twitter</a> -->
    <a class="footer-link fas fa-globe fa-3x" href="https://www.calvin.ac.id/" target="_blank"></a>
    <p class="footer"> © Copyright 2021 GalaxyPhoton</p>
  </div>
  <!-- </div> -->
  <!-- </div> -->

  <!-- </div> -->
</section>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="js/script.js"></script>
</body>

</html>
