#title {
  padding: 0;
}

.logotop {
  width: 75%;
  height: 75%;
}

.navbar-toggler {
  color: white;
}

.navbar-toggler-icon {
  color: white;
}

.nav-link {
  color: #fff;
}

.nav-link:hover {
  color: #fff;
}
/* content */
body{
    background: #fff;
}

/* dropdown */

#drop {
  text-align: center;
  margin-top: 6%;
}

.startbutton {
  background-color: #261C2C;
  color: white;
  border-radius: 10px;
  border: solid 1px;
}

/* content */

.card-img-top {
  width: 100%;
  /* height: 15vw; */
  object-fit: cover;
}


/* footer */
.contact {
  text-align: center;
  background-color:#261C2C;
  color: #ffffff;
  padding: 15px;
}

.bot-logo {
  width: 10%;
  /* margin: 3px; */
}


a {
  color: white;
  margin: 15px;
}

.footer {
  color: white;
  margin: 15px 0 5px 0;
}

.footer-link {
  text-decoration: none;
}


/* animation etc */
.dissappear {
  visibility: hidden;
  margin-top: 6%;
  margin-bottom: 12%;
}
